li{
    color:whitesmoke; 
    font-size: 25px;
    border-color: blue;
    border-width:6px 6px;
    border-style: double;
}
h1{font-size: 70px;
}
h2{
    color:darkcyan;
    font-size: 40px;    
}
body{
    background-image:
    url("planet-in-space-art-space-bodies-dark-planet-solar-system.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.yellow-text{
    color:yellow
}
.big-text{
    font-size: 80px;
}
#europa-text{
    font-size: 20px;
color: darkblue;
}