@charset "UTF8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: rgb(77, 76, 76);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 10px;
    margin:10px;
    border-radius: 20px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.377);
}
article{
    background-color: rgb(172, 171, 171);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:5px;
    margin: 0px;

}
footer > p{
    margin: 0px;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}